body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    flex-wrap: wrap;
}

.content-top button {
    display: block;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

a {
    color: gray;
    text-decoration: none;
}

button {
    padding: 8px 16px;
}