body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #1F2937;
}

.left-links {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: #1F2937;
    color: white;
}

.text {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 50px;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
}

.text p {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 700px;
    height: auto;
    align-self: stretch;
}

.first-button {
    text-align: left;
    justify-content: center;
    width: 110px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 8px 16px;
}

h2  {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.info img {
    height: 200px;
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote p{
    font-size: 36px;
    text-align: center;
    color: #1F2937;
}

.quote b {
    text-align: right;
    padding: 16px;
    font-size: 20px;
}

.signup-section {
    display: flex;
    align-items: center;
    margin: 20px 450px;
    background-color: #3882F6;
    border-radius: 25px;
    padding: 25px 50px;

}

.sign-text {
    flex: 1;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-color: white;
}